<head>
	<link rel="stylesheet" href="/css/header.css">
	<link rel="shortcut icon" href="/resources/img/favicon.png">
	<script src="/js/header.js"></script>
</head>

<header class="hnav hbox">

	<img id="site-logo" src="/resources/img/burger-content.png" alt="">
	<h1>The Ultimate Burger Quiz</h1>

	<div class="spacer"></div>

	<span id="hnav-right">
		<ul class="hnav-list">
			<li><a href="#">Menu</a></li>
			<li><a class="selected" href="#">Quiz</a></li>
			<li><a href="#">Classements</a></li>
		</ul>

		<div class="marker"></div>

		<div class="roundel" id="profile-selector">
			<img src="" alt="x" id="profile-pic">
		</div>
	</span>
</header>