:root
{
    --header-back:  rgb(51, 48, 42);
    --header-front: lightgray;

    --main-front:   rgb(247, 128, 30);
    --main-back:    white;
    --alt-front:    rgb(224, 61, 39);
    --alt-back:     rgb(97, 92, 87);

    --text:         rgb(68, 60, 45);
    --text-important: var(--main-front);
    --text-alt:     orange;

    --table-head-text:  white;
    --table-head-back:  var(--main-front);
    --table-line-text:  var(--text);
    --table-line-odd:   rgb(255, 210, 158);
    --table-line-even:  rgb(255, 195, 128);

    --game-back:    var(--text);
    --game-question: var(--main-front);
    --game-answer:  var(--header-front);
    --game-choice1: rgb(51, 78, 155);
    --game-choice2: var(--alt-front);
    --game-both:    rgb(78, 122, 53);
    --game-border:  white;
}