
@import "colors.css";

html
{
    width: 100vw;
    overflow: hidden;

    padding-right: 1vw;
}

.main-content
{
    min-height: auto;
}

footer
{
    position: absolute;
    bottom: 0;

    transform: translateY(100%) translateY(-5px);
    transition: transform 0.3s ease-out;
}

footer:hover
{
    transform: none;
}

.fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: all 0.3s;
}

.fullscreen#game-ui
{
    color: var(--game-answer);
    background-color: var(--game-back);
}

.fullscreen:not(.selected)
{
    opacity: 1;
}

.fullscreen:not(.selected):not(#game-ui)
{
    transform: translateY(-100%);
    opacity: 1;
}

.fullscreen > *:first-child
{
    margin-top: 4em;
}

#answer-true
{
    background-color: var(--game-both);
}

#answer-false
{
    background-color: var(--game-choice2);
}

ul.steps-indicator
{
    margin: 1em;
    margin-top: 1em !important;
    padding: 0;
}

ul.steps-indicator li
{
    display: inline-block;
    width: 0.7em;
    height: 0.7em;

    margin: 0.5em;

    background-color: var(--game-answer);
    border-radius: 100%;
}

.fullscreen h1, .fullscreen h2
{
    color: var(--game-answer);
}

#choices
{
    position: absolute;
    bottom: 0;
    width: 100vw;
    /*height: 40vh;*/
}

#choices button.choice, button#both
{
    width: 50vw;
    height: 40vh;
    
    font-family: "ZillaSlabBold", "ZillaSlab";
    font-weight: normal;
    font-size: 1.7em;
    text-transform: none;

    color: var(--game-answer);

    border: none;
    border-top: solid 2px var(--game-border);
}

#choices #choice1
{
    background-color: var(--game-choice1);
    border-right: solid 1px var(--game-border);
}

#choices #choice2
{
    margin-left: 0;

    background-color: var(--game-choice2);
    border-left: solid 1px var(--game-border);
}

#choices #both
{
    position: absolute;
    left: 43vw;

    width: 14vw;
    height: 14vw;
    
    margin: 0;

    background-color: var(--game-both);
    border: solid 2px var(--game-border);
}

