
@import "colors.css";

html
{
    width: 100vw;
    overflow: hidden;

    padding-right: 1vw;
}

.main-content
{
    min-height: auto;
}

footer
{
    position: absolute;
    bottom: 0;

    transform: translateY(100%) translateY(-5px);
    transition: transform 0.3s ease-out;
}

footer:hover
{
    transform: none;
}

.fullscreen
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    font-size: 2.5vh;

    background-color: var(--game-back);
    color: var(--game-answer);

    transition: all 0.3s;
}

.fullscreen#game-ui
{
    color: var(--game-answer);
    background-color: var(--game-back);
}

.fullscreen:not(.selected)
{
    opacity: 1;
}

.fullscreen:not(.selected):not(#game-ui)
{
    transform: translateY(-100%);
    opacity: 1;
}

.fullscreen > *:first-child
{
    margin-top: 4em;
}

ul.steps-indicator
{
    margin: 1em;
    margin-top: 1em !important;
    padding: 0;
}

ul.steps-indicator li
{
    display: inline-block;
    width: 0.7em;
    height: 0.7em;

    margin: 0.5em;

    background-color: var(--game-answer);
    border-radius: 100%;
}

ul.steps-indicator li.done
{
    background-color: var(--main-front);
}

.progress-bar
{
    position: absolute;
    top: 4.1em;
    left: 0;

    width: 100vw;
    height: 0.5em;
}

.progress-bar .progress-bar-indicator
{
    width: 100%;
    height: 100%;

    background-color: var(--game-both);

    transition: width 10s;
    transition-timing-function: linear;
}

.fullscreen h1, .fullscreen h2, .fullscreen h3
{
    color: var(--game-answer);
}

#choices
{
    position: absolute;
    bottom: 0;
    width: 100vw;
    /*height: 40vh;*/
}

#choices button.choice, button#both
{
    width: 50vw;
    height: 40vh;

    padding: 1em;
    
    font-family: "ZillaSlabBold", "ZillaSlab";
    font-weight: normal;
    font-size: 1.7em;
    text-transform: none;

    color: var(--game-answer);

    border: none;
    border-top: solid 2px var(--game-border);
}

#choices #choice1
{
    background-color: var(--game-choice1);
    border-right: solid 1px var(--game-border);
}

#choices #choice2
{
    margin-left: 0;

    background-color: var(--game-choice2);
    border-left: solid 1px var(--game-border);
}

#choices #both
{
    position: absolute;
    left: 43vw;

    width: 14vw;
    height: 14vw;
    
    margin: 0;

    background-color: var(--game-both);
    border: solid 2px var(--game-border);
}




.fullscreen#answer-true
{
    background-color: var(--game-both);
}

.fullscreen#answer-false
{
    background-color: var(--game-choice2);
}

.fullscreen:not(#game-ui) h1
{
    margin-top: 3em;
}

.fullscreen:not(#game-ui) img
{
    height: 30vh;
}

.fullscreen#answer-false img
{
    height: 22vh;
}

.score-box
{
    display: block;
}

#score *
{
    display: inline;
}

#score h2
{
    margin: 0;

    font-size: 5em;
}

#score span
{
    margin-left: 0.2em;

    font-family: "ZillaSlabBold";
    font-size: 2em;

    color: var(--game-answer);
}

.score-box h3
{
    margin-top: -0.5em;

    font-size: 2em;
}

.button.next-question, button.next-question
{
    margin-top: 1em;
    padding: 0.5em;
    font-size: 1em;

    color: var(--game-answer);

    background-color: var(--game-choice1);
    border-radius: 0;
    border: solid 0.15em var(--game-answer);

    transition: box-shadow 0.3s;
}

.button.next-question:hover, button.next-question:hover
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.527);
}

#correct-answer
{
    display: block;

    margin-bottom: 1em; 

    font-size: 1.5em;
    font-family: "ZillaSlabBold";

    color: var(--game-answer);
}

#results .roundel
{
    border: solid 4px var(--main-front);
}

#results .score-item
{
    width: 30vw;
    min-width: 12em;

    font-family: "ZillaSlabBold";
    font-size: 1.2em;

    margin: auto;
}

#results #replay
{
    display: inline-block;
    margin-top: 3em;
}

#results h2
{
    font-size: 1.3em;

    margin-top: 1.5em;
    margin-bottom: 0;
}

#user-pic img.roundel 
{
    width: 20vh;
    height: 20vh;
}

#user-pic h3
{
    margin-top: 0.2em;
}

ul#top-players
{
    list-style: none;

    margin: 0;
    padding: 0;
}

ul#top-players li
{
    margin: 0.3em auto;
}

ul#top-players li h3
{
    margin: 0;
}

#top-players img.roundel
{
    width: 2em;
    height: 2em;

    border: solid 2px var(--main-front);
}

#stats
{
    justify-content: space-between;
    justify-content: space-evenly;

    align-items: baseline;
}

/*
button.next-question::after, button.next-question::before
{
    content: " ";

    position: absolute;
    top: 0;
    left: 100%;

    width: 0;
    height: 0;

    border-style: solid;
    
    border-color: transparent;
    
}

button.next-question::after
{
    border-width: 1.1em 0 1.1em 1.5em;
    border-left-color: var(--game-choice1);
}

button.next-question::before
{
    top: -0.16em;

    border-width: 1.25em 0 1.25em 1.75em;
    border-left-color: var(--game-answer);
}*/