:root
{
    --header-back:  rgb(42, 42, 42);
    --header-front: lightgray;
    --main-front:   rgb(247, 108, 28);
    --main-back:    white;
    --alt-front:    rgb(197, 31, 31);
}

header.hnav, .hnav
{
    width: 100%;
    /*height: 10vh;*/

    font-family: "ZillaSlabBold", "ZillaSlab", "Tibetan Machine Uni", Arial, Helvetica, sans-serif;

    color: var(--header-front);
    background-color: var(--header-back);
}

header
{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 4242;

    border-bottom: solid 4px var(--main-front);
}

footer
{
    border-top: solid 4px var(--main-front);
}

footer .hnav-list li a
{
    color: var(--main-front);
    text-decoration: underline;
    font-size: 1em;
}

header h1
{
    font-size: 1.4em;
    font-weight: normal;

    margin: 0;
    padding: 0.5em;
    color: var(--main-front);
}

header img
{
    display: inline;
}

.hnav-list
{
    display: inline-block;
    list-style-type: none;

    padding: 0;
    margin: 0;
}

.hnav-list li
{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.hnav-list li a
{
    display: block;
    padding: 1em;

    font-size: 1.2em;

    color: var(--header-front);
    text-decoration: none;
}

.hnav-list li a:hover
{
    color: orange;
}

.hnav-list li a.selected
{
    color: var(--main-front);
}

.triangle
{
    position: absolute;
    bottom: 0;

    content: " ";

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
}

.spacer
{
    flex: 2;
}

.roundel
{
    border-radius: 50%;
}

#marker
{
    border-color: transparent transparent var(--main-front) transparent;

    transition: left 0.5s;
}

#hnav-left > *, #hnav-right > *
{
    display: inline-block;
}

#hnav-right
{
    flex: initial;
}

#site-logo
{
    width: 3em;
    padding-left: 0.5em;
}

#profile-pic
{
    width: 2.5em;
    padding: 0;
}

#profile-selector
{
    width: 2.5em;
    height: 2.5em;

    margin: 0.25em 0.5em;
    margin-right: 1.5em;

    border: solid 3px var(--header-front);

    cursor: pointer;

    transition: border-color 0.2s;
}

#profile-selector:hover
{
    border-color: var(--main-front);
}

#profile-modal
{
    top: 4em;
    right: 1.5em;
    font-size: 1em;

    padding: 1em;

    border-radius: 0.5em;

    cursor: default;
}

#profile-modal img
{
    height: 8em;
}

#profile-modal h2
{
    margin: 0;

    text-align: center;

    font-weight: normal;
    font-size: 1.3em;

    color: grey;
}

#profile-modal #window-profile-pic
{
    margin: 1em;
}

#modal-toparrow
{
    top: -10px;
    right: 1em;

    border-color: transparent transparent var(--main-back) transparent;    
}

