
@import "colors.css";

input
{
    min-width: 0;
}

form.vbox label
{
    margin-bottom: 0.2em;
}

form button
{
    margin-top: 1.5em;
}

.expand
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div#username.expand
{
    width: 75%;
}

div#age.expand
{
    width: 20%;
    margin-left: 5%;
}

div#age.expand input
{
    width: auto;
}
