/****************************************************/
/*		main.css - burger-quiz						*/
/*--------------------------------------------------*/
/*	Author : Gwenolé Leroy-Ferrec - Tomy Guichard	*/
/*	License : GPL-3.0								*/
/*	juin 2018										*/
/****************************************************/

@import "colors.css";

html, body
{
	margin: 0;
	padding: 0;

	font-family: "ZillaSlab", "Tibetan Machine Uni", Arial, Helvetica, sans-serif;

	color: var(--text);
	background-color: var(--main-back);
}

h1, h2, h3, h4, h5, h6
{
	font-family: "ZillaSlabBold", "ZillaSlab", "Tibetan Machine Uni", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

a
{
	color: var(--main-front);
	transition: all 0.3s;
}

a:visited
{
	color:	rgb(172, 73, 37);
}

a:hover
{
	color: var(--text-alt);
}

a:active, a:focus
{
	outline: none;
}

button, .button
{
	padding: 0.5em 2em;
	text-align: center;

	/*font-size: 0.7em;*/
}

.main-content
{
	width: 80%;
	min-height: 100vh;
	min-height: calc(100vh - 10em);

	padding: 2em 1em;

	margin: 2em auto;
	margin-top: 4.1em;

	opacity: 0;
	transition: opacity 0.3s;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6
{
	color: var(--main-front);
}

.main-content > h1
{
	text-align: center;

	margin-top: 2em;
}

.main-content > h1:first-child
{
	margin-top: 1em;
}

.main-content > h1::after
{
	display: block;

	content: " ";
	width: 10vw;
	margin: 1.5em auto;
	margin-top: 0.25em;

	border-bottom: solid 1px var(--main-front);
}

table.flat-table
{
	width: 75%;
	margin: auto;
}
/*
.hbox, .vbox
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hbox
{
	flex-direction: row;
}

.vbox
{
	flex-direction: column;
}*/